<div class="modal-primary" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2 class="modal-title">QR Code</h2>
      <button class="btn-primary close-btn" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div class="modal-body">
      <zxing-scanner
        #scanner
        [autostart]="true"
        (scanSuccess)="handleQrCodeResult($event)"
        [tryHarder]="true"
      >
      </zxing-scanner>
    </div>
  </div>
</div>
