<app-admin-header></app-admin-header>

<div class="account" *ngIf="!loadingHolderService.isLoading; else loading">
  <app-account-info
    (showDeleteAccountModal)="openDeleteAccountModal()"
    (showEditNameModal)="openEditNameModal()"
    (showUpdatePasswordModal)="openUpdatePasswordModal()"
    [guestDto]="guestDto"
    [hostDto]="hostDto"
  ></app-account-info>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<app-update-user-modal
  [guestDto]="guestDto"
  [hostDto]="hostDto"
  (close)="closeEditNameModal()"
  *ngIf="showEditNameModal"
></app-update-user-modal>

<app-update-password-modal
  [guestDto]="guestDto"
  [hostDto]="hostDto"
  (close)="closeUpdatePasswordModal()"
  *ngIf="showUpdatePasswordModal"
></app-update-password-modal>

<app-confirm-modal
  *ngIf="showDeleteAccountModal"
  (close)="closeDeleteAccountModal()"
  (confirm)="confirmDeleteAccount()"
  [title]="'Você tem certeza que deseja excluir sua conta?'"
></app-confirm-modal>
