.modal-primary {
  .modal-content {

    .modal-body {
      .form-group {
        input {
          margin-bottom: 20px;
        }
      }
    }

    .modal-actions {
      display: flex;

      button {
        flex: 1;
      }

      .btn-primary {
        background-color: var(--accent-color);

        &:disabled {
          background-color: var(--background-color);
        }

        &:hover {
          background-color: var(--accent-hover);
        }
      }
    }
  }
}
