.login-card {
  border: 1px solid var(--border-color);
  border-radius: var(--standard-border-radius);
  padding: 20px;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .btn-primary {
    width: 100%;
    background: var(--accent-color);
    color: var(--text-color);

    &:hover {
      background: var(--accent-hover);
    }
  }
}
