<div class="login-card">
  <h2>Entrar com Credenciais</h2>
  <form (ngSubmit)="loginWithCredentials()">
    <div class="form-group">
      <input
        (keydown.enter)="username && password && loginWithCredentials()"
        [(ngModel)]="username"
        id="username"
        name="username"
        placeholder="Email"
        required
        type="text"
      />
    </div>
    <div class="form-group">
      <input
        (keydown.enter)="username && password && loginWithCredentials()"
        [(ngModel)]="password"
        id="password"
        name="password"
        placeholder="Senha"
        required
        type="password"
      />
    </div>
    <button class="btn-primary" type="submit">Entrar</button>
    <button (click)="toggleResetPasswordModal()" class="forgot-text" type="button">Esqueceu sua senha?</button>
  </form>
</div>
