<app-admin-header></app-admin-header>

<div *ngIf="!loadingHolderService.isLoading; else loading" class="events">
  <div *ngIf="eventList.length > 0; else noEvents">
    <div class="event-list">
      <div class="add-event">
        <div class="add-event-content">
          <p class="add-event-description">
            Clique no botão abaixo para adicionar um novo evento.
          </p>
          <button class="btn-primary" (click)="addEvent()">
            <span class="material-icons">add</span>
            <span class="btn-text">Adicionar Evento</span>
          </button>
        </div>
      </div>

      <app-event-card *ngFor="let event of eventList"
                      [event]="event"
      ></app-event-card>
    </div>
  </div>
</div>

<app-create-event-modal *ngIf="showCreateEventModal"
                        (close)="closeCreateEventModal()"
                        (eventCreated)="reloadEvents()"
></app-create-event-modal>

<ng-template #noEvents>
  <div class="no-events-message">
    Nenhum Evento Disponível.
  </div>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
